---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "septiembre 2023",
    title: "Frontend",
    company: "FUNPROTEC",
    description:
      "Trabajo en proyecto real, de creación en la página oficial de funprotec como también en página privada para gestión financiera y educativa de la misma institución.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
